aclocal.m4
autom4te.cache/
missing
configure
install-sh
config.h.in
config.h
Makefile.in
Makefile
config.log
config.status
stamp-h1
*.so
build/
*.o
doc/
*.deps
*.dirstamp
depcomp
test
test_runner.cc
README

#binaries
counting_vm_hotstuff
overlay_sim

