aclocal.m4
autom4te.cache/
missing
configure
install-sh
config.h.in
config.h
Makefile.in
Makefile
config.log
config.status
stamp-h1
*.so
build/
*.o
doc/
*.deps
*.dirstamp
depcomp
test
ctest
test_runner.cc
README
databases/
experiment_data/
experiment_results/
*~
test-driver
*.dSYM/*
ar-lib
compile
ylwrap

#automation
automation/check_sigs
automation/config_file
automation/data_folder
automation/num_threads
automation/results_folder
automation/replica
automation/speedex_options

#aws automation
awsinv
config/config_aws_generated.yaml

#micro
log.txt

#binaries
blockstm_comparison
cda_experiment
clean_lmdbs
counting_vm_hotstuff
cryptocoin_dataset_gen
exchange_data_experiment
experiment_controller
filtering_experiment
filtering_experiment_gen
overlay_sim
solver_comparison
speedex_vm_hotstuff
synthetic_data_gen
tatonnement_experiment_data_gen
tatonnement_mega_graph
trie_comparison

#coingecko
coingecko_snapshot/unified_data

#mac
.DS_STORE
