[submodule "xdrpp"]
	path = lib/xdrpp
	url = https://github.com/gramseyer/xdrpp.git
[submodule "lib/hotstuff"]
	path = lib/hotstuff
	url = https://github.com:gramseyer/hotstuff.git
[submodule "lib/merkle_trie_toolkit"]
	path = lib/merkle_trie_toolkit
	url = https://github.com:gramseyer/merkle_trie_toolkit.git
[submodule "m4"]
	path = m4
	url = https://github.com/gramseyer/m4.git
