aclocal.m4
autom4te.cache/
missing
configure
install-sh
config.h.in
config.h
Makefile.in
Makefile
config.log
config.status
stamp-h1
*.so
build/
*.o
doc/
*.deps
*.dirstamp
depcomp
test
test_runner.cc
README
databases/

automation/replica

#binaries
clean_lmdbs
counting_vm_hotstuff
overlay_sim
speedex_vm_hotstuff
synthetic_data_gen
trie_comparison

